# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
resources:
  repositories:
  - repository: ASTERPRIME # The name used to reference this repository in the checkout step
    type: github
    endpoint: githubconn
    name: arunmf91/ASTERPRIME
  - repository: lab # The name used to reference this repository in the checkout step
    type: github
    endpoint: githubconn
    name: arunmf91/lab
trigger:
- main

pool:
  vmImage: ubuntu-latest
steps:
- checkout: lab 
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(agent.builddirectory)'
    Contents: '**'
    TargetFolder: '$(build.artifactstagingdirectory)'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'


